* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  padding: 11px 20px;
}
.logo {
  width: 100px;
  border-radius: 50%;
}
.shopName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.nav-links {
  display: flex;
  font-weight: 600;
  list-style: none;
  gap: 20px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  z-index: 1;
  transition: color 0.3s ease;
}
.nav-links li a:hover {
  color: rgb(153, 139, 139);
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 26px;
}
.card {
  background-color: rgb(231, 173, 151);
  width: 250px;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 15px 10px;
}
.card:hover {
  transform: rotate(1deg);
}
.itemImg {
  width: 100%;
  height: 74%;
}
.discount {
  font-weight: 600;
}
.oprice {
  font-size: small;
  text-decoration: line-through;
}
.itemsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer {
  background-color: coral;
  height: 120px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 668px) {
  .nav-links {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background: #070606;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .nav-links li {
    padding: 15px 0;
    border: 1px solid #444;
  }
  .logo {
    width: 70px;
    border-radius: 50%;
  }
  .shopName {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
  .menu-icon {
    display: block;
  }
  .contact {
    width: 100%;
  }
}
